.portfolio
    &-menu
        margin: 0
        padding-left: 0
        list-style-type: none
        margin-bottom: 60px
        li
            display: inline 
            cursor: pointer
            &:hover
                color: red
.wrapper
    display: flex !important
    outline: none
   
.slider
    display: none !important
    width: 700px
    margin: 0 auto
    outline: none
    &-block
        display: flex;
        flex-direction: column;
        justify-content: center;
        outline: none
        &:nth-child(1)
            margin-right: 20px
            width: 40%
        &:nth-child(2)  
            width: 60% 
        &_link
            margin-top: 15px
            text-decoration: none
            outline: none
            cursor: pointer     
        
    img
        width: 100%
    &_text
        margin-bottom: 20px
        width: 100%   
    &_link
        text-decoration: none
        outline: none           

.active-slider
    display: block !important
.active
    color: green   

.arrows
    display: block
    position: absolute
    width: 24px
    top: 50%    
    cursor: pointer
    transition: 0.3s
    transform: translateY(-50%) scale(1.2)
    &:hover
        transform: translateY(-50%) scale(1.2)
.left
    left: -10%
.right
    right: -10%    

@media (max-width: 992px)
    .slider
        width: 500px   
    .wrapper
        display: block !important
               
@media (max-width: 772px)
    .slider
        width: 400px      
        &-block       
            &:nth-child(1)
                margin: 0 auto
                width: 40%
            &:nth-child(2)  
                margin-top: 10px
                text-align: center
                width: 100% 
    .arrows
        width: 16px     
@media (max-width: 560px)  
        .slider
            width: 80%     
@media (max-width: 400px)
    .portfolio-blocks_subtitle
        font-size: 18px
                                   
                
                
  
